<!-- <div class="col-card-service">
    <div class="card-service">
        <div class="card-header-service">
            <img src="https://i.postimg.cc/50z7ryBg/monitor.png" alt="">
            <p>Desarrollo Web a Medida</p>
        </div>

        <div class="card-body-service">
            <ul>
                <li>  Plantillas predefinidas</li>
                <li>  Landing pages</li>
                <li>  Sitios web básicos</li>

            </ul>
        </div>
    </div>        
 
        
    <div class="card-service">
        <div class="card-header-service">
            <img src="https://i.postimg.cc/50z7ryBg/monitor.png" alt="">
            <p>Servicios de Mantenimiento y Actualización</p>
        </div>

        <div class="card-body-service">
            <ul>
                <li>Soporte técnico y mantenimiento</li>
                <li>Optimización de velocidad y SEO</li>
                <li>Actualización de contenido</li>
            </ul>
        </div>
    </div> 

    <div class="card-service">
        <div class="card-header-service">
            <img src="https://i.postimg.cc/50z7ryBg/monitor.png" alt="">
            <p> Hosting y Gestión de Dominios</p>
        </div>

        <div class="card-body-service">
            <ul>
                <li>Alojamiento web (hosting)</li>
                <li>Registro y gestión de dominios</li>
                <li>Registro y gestión de dominios</li>
            </ul>
        </div>
    </div> 

    <div class="card-service">
        <div class="card-header-service">
            <img src="https://i.postimg.cc/50z7ryBg/monitor.png" alt="">
            <p>Páginas Web Personalizables</p>
        </div>

        <div class="card-body-service">
            <ul>
                <li>E-commerce personalizable</li>
                <li>Personalización de plantillas</li>
                <li>Registro y gestión de dominios</li>
                
            </ul>
        </div>
    </div> 
 </div>
 -->


 <div class="container-fluid">
    <div class="row row-servicio">
        
        <div class="col col-img" data-aos="fade-up"data-aos-anchor-placement="top-center">
            <img src="https://cdn2.iconfinder.com/data/icons/flat-illustrations-1/550/Web_Development-512.png" alt="">
        </div>

        <div class="col col-text">
            <h1>Desarrollo Web</h1>
            <h2> a medida</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sed soluta velit, beatae, in, consequuntur iste quidem maiores quas eveniet dolore temporibus cum? Ab blanditiis optio tempora iste in omnis?</p>
        </div>

    </div>


    <div class="row row-servicio" >

        <div class="col col-text">
            <h1>Desarrollo Web</h1>
            <h2> a medida</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sed soluta velit, beatae, in, consequuntur iste quidem maiores quas eveniet dolore temporibus cum? Ab blanditiis optio tempora iste in omnis?</p>
        </div>
        

        <div class="col col-img" data-aos="fade-up"data-aos-anchor-placement="top-center">
            <img src="https://cdn2.iconfinder.com/data/icons/flat-illustrations-1/550/Web_Development-512.png" alt="">
        </div>
        
    </div>

    <div class="row row-servicio" >

        <div class="col col-img" data-aos="fade-up"data-aos-anchor-placement="top-center">
            <img src="https://cdn2.iconfinder.com/data/icons/flat-illustrations-1/550/Web_Development-512.png" alt="">
        </div>

        <div class="col col-text">
            <h1>Desarrollo Web</h1>
            <h2> a medida</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sed soluta velit, beatae, in, consequuntur iste quidem maiores quas eveniet dolore temporibus cum? Ab blanditiis optio tempora iste in omnis?</p>
        </div>
        
    </div>

 </div>