<div class="container-fluid">
    <div class="row row-principal">
        <div class="card_box" [ngClass]="{'card_box_premium': plan.nombre === 'Premium', 'card_box_basic': plan.nombre === 'Basic', 'card_box_pro': plan.nombre === 'Pro'}" *ngFor="let plan of listPlanes">
            <span></span>
            <div class="card-price">
                <p>AR <strong style="font-size: 40px;">{{ plan.precio }}</strong>/mes</p>
            </div>
            <div class="card-body" *ngFor="let servicio of plan.descripcion">
                <ul>
                    <li><i class="bi bi-check-circle-fill"></i>{{servicio}}</li>
                </ul>
            </div>
            <div class="col-btn-compra">
                <button class="btn-compra">Conseguir</button>
            </div>
        </div>
    </div>
</div>
