/* Contenedor principal */
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* Fila principal */
.row-principal {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 200px;
}

/* Estilos generales de las tarjetas */
.card_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 650px;
    border-radius: 20px;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all .3s;
}

/* Estilo del texto en las tarjetas */
.card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el texto 'Premium' */
.card_box span::before {
    content: 'Premium';
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
}

/* Estilos para el texto 'BASIC' */
.card_box_basic span::before {
    content: 'BASIC';
    background-image: linear-gradient(45deg, #101c3f 0%, #3d79c7 51%, #adbedf 100%);
}

/* Estilos para el texto 'Pro' */
.card_box_pro span::before {
    content: 'Pro';
    background-image: linear-gradient(45deg, #001309 0%, #33e477 51%, #c4ecc6 100%);
}

/* Estilo del texto en la etiqueta */
.card_box span::before {
    position: absolute;
    width: 300%;
    height: 60px;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

/* Estilo para el fondo */
.card_box span::after,
.card_box_basic span::after,
.card_box_pro span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #3f6ccc; 
}

/* Estilo de fondo adicional */
.card_box_basic span::after {
    box-shadow: 140px -140px #3f6ccc;
}

.card_box_pro span::after {
    box-shadow: 140px -140px #cc3f47; 
}

.card-price {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    border-bottom: 1px solid ;
    color: #f1f1f1;
}


.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    padding: 1em;
}

.card-body ul {
    width: 100%;
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

.card-body li {
    display: flex;
    align-items: center; 
    gap: 0.5em; 
    color: white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.card-body li:hover {
    background-color: #333333; 
}

.card-body i {
    background-color: #171717;
    padding: 0.1em 0.5em;
    border-radius: 5px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: white;
    transition: background-color 0.3s ease;
    color: rgb(20, 218, 96); 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.card-body li:hover i {
    transform: scale(1.2); 
}

.col-btn-compra {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.btn-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(25, 99, 235);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-compra:hover {
    background-color: rgb(7, 76, 156);
}