
.col-planes {
    display: flex;
    justify-content: center;
    flex-direction: row!important;
    gap: 50px;
    height: 90%;
    margin-top: 4em;
}


.card-planes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #323232;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 500px;
    max-height: 900px ;
    /* height: 700px; */
    border-radius: 10px;
    box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22);
    
}

.card-planes .card-header-basic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 70px;
    
}

.card-header-basic h4 {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    width: 100% !important;
    height: 80px;
    font-weight: 400;
    text-align: center;
    color: #FFFF;
    margin-bottom: 2em;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22);
}

.card-planes .card-header-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 70px;
    
}

.card-header-pro h4 {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    width: 100% !important;
    height: 80px;
    font-weight: 400;
    text-align: center;
    color: #FFFF;
    margin-bottom: 2em;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22);
}




.card-planes .card-header-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 70px;
    
}

.card-header-premium h4 {
    display: flex;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    width: 100% !important;
    height: 80px;
    font-weight: 400;
    text-align: center;
    color: #FFFF;
    margin-bottom: 2em;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22);
}



.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    width: 300px; 
    border-radius: 50%; 
    /* box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22); */
    background: radial-gradient(circle, rgba(5,103,116,1) 0%, rgb(22, 47, 61) 100%);
    box-shadow: 0 5px 15px rgba(179, 177, 177, 0.2); 
    animation: moveShadow 10s infinite ease-in-out; 
}

@keyframes moveShadow {
    0% {
        box-shadow: 0 5px 15px rgba(8, 201, 207, 0.2); 
    }
    50% {
        box-shadow: 10px 20px 25px rgba(10, 112, 180, 0.3); 
    }
    100% {
        box-shadow: 0 5px 15px rgba(255, 253, 253, 0.2); 
    }
}

.card-planes p {
    text-align: center;
    font-size: 30px;
    color: #FFFF;
}



.card-planes .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #FFFF;
    padding: 10px;
    margin: 0;
    
}

.bi-check-circle-fill {
    font-size: 30px;
    
    padding-right: 10px;
    color:rgb(71, 223, 71) ;
}

.col-btn-compra {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-compra{
    width: 200px;
    height: 70px;
    margin-top: 2em;
    margin-bottom:1em;
    font-size: 20px;
    background-color:#006eff;
    color: #FFFF;
    /* box-shadow:  0px 19px 38px rgba(0, 0, 0, 0.3),  0px 15px 12px rgba(0, 0, 0, 0.22); */
}
