<div class="row row-principal">
    <div class="col col-form">
        <form class="form">
            <p class="form-heading">Contactanos</p>
        
            <div class="form-field">
              <input required="" placeholder="Name" class="input-field" type="text" />
            </div>
        
            <div class="form-field">
              <input
                required=""
                placeholder="Email"
                class="input-field"
                type="email"
              />
            </div>              
            <div class="form-field">
              <textarea
                required=""
                placeholder="Message"
                cols="30"
                rows="3"
                class="input-field"
              ></textarea>
            </div>
        
            <button class="sendMessage-btn">Enviar</button>
    </form>
    </div>
</div>

