


<div class="container-fluid">
    
    <div class="row row-principal">
        <app-navbar></app-navbar>        
        <div class="col col-text-principal">
            <h1 class="focus-in-contract">N<span class="ampersand">&</span>NTech</h1>
            <h2>Soluciones Tecnológicas que Impulsan tu Crecimiento</h2>
            <p>Desarrollamos aplicaciones web personalzadas buscando adaptar las necesidades del cliente</p>
            <button class="button-64" role="button"><span class="text">Contactanos</span></button>
        </div>
    </div>


    <!-- row servicios -->
    <div class="row row-servicios">

        <div class="col col-titulo-servicio">
            <h2><Strong class="ampersand">>>> Construimos el futuro de tu negocio</Strong><br> un código a la vez.</h2>
            <p>En <span class="ampersand">N&NTech</span>, no solo construimos sitios web, creamos experiencias digitales.
                Nuestro enfoque personalizado, la innovación constante y el compromiso con la excelencia nos convierten en el socio ideal para impulsar 
                tu negocio al mundo digital.</p>
              
        </div>

        <div class="col componente-accordion">
            <app-accordion></app-accordion>
        </div>
       
    </div>



    <div class="row row-service">
            <div class="col col-titulo-service">
                <h1>Servicios que podes encontrar en N&NTech</h1>
                <p>ofrecemos una amplia gama de servicios diseñados para impulsar tu negocio en el mundo digital. </p>
            </div>

            <app-cardservice></app-cardservice>

           
    </div>
   

    <!-- row planes -->
    
    <div class="row row-planes">

        <div class="col col-titulo-plan">
            <h2>Nuestros Planes</h2>
        </div>

        <div class="col componente-plan">
            <app-card-plan></app-card-plan>    
        </div>
        
    </div>

</div>