/* Contenedor principal */
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #131618;
  max-width: 100%;
}

/* Fila principal */
.row-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  max-height: 100vh;
  background: linear-gradient(rgba(29, 42, 58, 0.94), rgba(20, 22, 24, 0.95)), 
              url('https://i.postimg.cc/kgz3Fs1f/n-n-Tech-2-1.png') no-repeat right top;
  background-size: contain;
}

/* Estilos del texto principal */
.col-text-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;   
}

.col-text-principal .focus-in-contract {
  font-family: mundial, sans-serif;
  font-size: 120px;
  font-style:italic;
  color: #FFFF;
  font-weight: 900;
  color: rgb(216, 219, 221);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation: focus-in-contract 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
  0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
  }
  100% {
      filter: blur(0px);
      opacity: 1;
  }
}

.col-text-principal h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  margin: 10px;
  font-weight: 400;
  color: rgb(194, 195, 197);
}

.col-text-principal p {
  font-size: 25px;
  width: 40%;
  margin: 10px;
  color: rgb(207, 204, 204);
}

.ampersand {
  color: #067a97;
}


/* Fila 'Nosotros' */
.row-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-height: 110vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10em;
  box-shadow: 20px 20px 25px 45px rgba(0, 0, 0, 0.548);
  border: 2px solid #022f35 !important;
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}

/* Ajustes para pantallas grandes */
@media (min-width: 2000px) {
  .row-nosotros {
    height: 90vh; /* Ajusta la altura para pantallas grandes */
    max-height: 150vh; /* Limita la altura máxima */
  }
}


.col-titulo-nosotros {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.col-titulo-nosotros h2 {
  font-family: mundial, sans-serif;
  font-style:italic;
  color: #FFFF;
  font-weight: 900;
  /* font-family: "PT Sans", sans-serif; */
  font-size: 80px;
  margin-top: 1em;
  color: rgb(246, 248, 252);
}

.col-titulo-nosotros p {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  margin: 10px;
  font-weight: 400;
  color: #FFFF;
  width: 60%;
}

.col-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Fila 'Servicios' */
.row-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgb(0, 141, 156) 0%, rgb(22, 47, 61) 100%);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.329);
  box-shadow: 10px 10px 15px 25px rgba(0, 0, 0, 0.548);
  border: 2px solid #022f35 !important;
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}



/* Fila 'Planes' */
.row-planes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150vh; /* Estilo por defecto */
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(29, 42, 58, 0.94), rgba(20, 22, 24, 0.95));
}

/* Ajustes para pantallas grandes */
@media (min-width: 2000px) {
  .row-planes {
    height: 100vh; /* Ajusta la altura para pantallas grandes */
    max-height: 150vh; /* Limita la altura máxima */
  }
}

.col-titulo-plan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5em;
  max-height: 300px;
}

.col-titulo-plan p {
  font-family: mundial, sans-serif;
  font-style:normal;
  color: #FFFF;
  font-weight: 400;
  font-size: 30px;
  margin: 10px;
  color: rgb(246, 248, 252);
}

.col-titulo-plan h2 {
  display: flex;
  align-items: center;
  font-family: mundial, sans-serif;
  font-style:italic;
  color: #FFFF;
  font-weight: 900;
  font-size: 60px;
  margin: 10px;
  height: 120px;
  width: 70%;
  color: rgb(246, 248, 252);
  background: radial-gradient(circle, rgb(7, 151, 167) 0%, rgb(14, 78, 116) 100%);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.582);
  border: 2px solid #022f35 !important;
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}

/* Componente 'Plan' */
.componente-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: max-content;
}



/* row form */

.row-form {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.329);
  box-shadow: 10px 10px 15px 25px rgba(0, 0, 0, 0.548);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  background: linear-gradient(rgba(29, 42, 58, 0.94), rgba(20, 22, 24, 0.95));
}






/* footer */


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.329);
  box-shadow: 10px 10px 15px 25px rgba(0, 0, 0, 0.548);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  background-color: #23334b;
  font-size: 25px;
}