

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(73deg, rgba(5,13,14,1) 0%, rgba(5,15,15,1) 100%); */
    background: #131618;
}

.row-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    background: linear-gradient(rgba(29, 42, 58, 0.94), rgba(20, 22, 24, 0.95)), url('https://i.postimg.cc/kgz3Fs1f/n-n-Tech-2-1.png');
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: right top ; 
    background-size: contain; /* Ajusta el tamaño de la imagen para que no se deforme */
}







.col-text-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.col-text-principal .focus-in-contract{
    font-family: "PT Sans", sans-serif;
    font-size: 140px;
    margin:10px;
    font-weight: 400;
    color: rgb(216, 219, 221);
    text-shadow: 0 10px 20px rgba(0,0,0, .5);
    animation: focus-in-contract 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }


.col-text-principal h2{
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    margin:10px;
    font-weight: 400;
    color: rgb(194, 195, 197);
}


.col-text-principal p {
    font-size: 20px;
    margin: 10px;
    color: rgb(207, 204, 204);
}

.ampersand {
    color: #067a97;
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#064c5e, #043741 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(118, 175, 240, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 12%;
  min-width: 140px;
  padding: 3px;
  margin-top: 1em;
  margin-left: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(1, 72, 90);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}










/* servicios row2 */


.row-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100%;
    margin-top: 8em;

    background: linear-gradient(73deg, rgba(5,13,14,1) 0%, rgba(5,15,15,1) 100%); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.329);
    border: 2px solid #022f35 !important;
    border-right: 2px solid rgba(255,255,255,.5);
    border-bottom: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
}
 

.col-titulo-servicio {
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.col-titulo-servicio h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 80px;
    margin-top:1em;
    font-weight: 400;
    color: rgb(246, 248, 252);
}
.col-titulo-servicio p {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    margin:10px;
    font-weight: 400;
    color: #FFFF;
}

.col-slider {
  padding: 3em;
}


/* row proyectos */

.row-planes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* background: radial-gradient(circle, rgba(5,103,116,1) 0%, rgb(22, 47, 61) 100%); */
    background: linear-gradient(rgba(29, 42, 58, 0.94), rgba(20, 22, 24, 0.95))
    
}

.col-titulo-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}

.col-titulo-plan h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 50px;
    margin:10px;
    font-weight: 400;
    color: rgb(246, 248, 252);
}


.componente-plan {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.row-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, rgba(5,103,116,1) 0%, rgb(22, 47, 61) 100%);
  /* background-color:#131618; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.329);
  border: 2px solid #022f35 !important;
  border-bottom: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(10px)
}

.col-titulo-service {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.col-titulo-service h1{
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    margin-top:1em;
    font-weight: 400;
    color: rgb(246, 248, 252);
}

.col-titulo-service p {
  font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
}

