.row-cards-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 50px;
  height: 100%;
}


.card {
  position: relative;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  background-color: #212121;
  border: 5px solid #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(93, 169, 255, 0.19) 0px 10px 20px,
          rgba(29, 129, 196, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.card:hover {
  box-shadow: rgba(49, 137, 238, 0.19) 0px 10px 20px,
          rgba(193, 44, 223, 0.23) 0px 6px 6px,
          inset rgba(0, 0, 0, 0.19) 0px 10px 20px,
          inset rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 5px solid #30b1ec;
}

.card-title {
  font-family: mundial, sans-serif;
  font-style:italic;
  margin: 0;
  font-size: 30px !important;
  font-weight: 300;
  cursor: default;
  /* font-family: "PT Sans", sans-serif; */
  font-size: 20px;
  margin-top: 1em;
  color: rgb(246, 248, 252);
}


.card-text {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  overflow: hidden;
  line-clamp: 3;
  cursor: default;
}


.card:hover > .card-text {
  opacity: 1;
}


