<div class="row row-cards-nosotros">
    <div class="col col-card-nosotros">
      <div class="card " data-aos="fade-right" data-aos-duration="1000">
        <p class="card-title">Experiencia y Creatividad</p>
        <p class="card-text">
          Desarrollamos sitios web que combinan experiencia técnica con un toque creativo. Cada proyecto es único, y nos esforzamos por crear soluciones personalizadas que no solo destaquen, sino que impulsen el crecimiento de tu negocio.
        </p>
      </div>
    </div>

    <div class="col col-card-nosotros">
      <div class="card " data-aos="flip-left" data-aos-duration="1000" >
        <p class="card-title">Experiencia y Creatividad</p>
        <p class="card-text">
          Desarrollamos sitios web que combinan experiencia técnica con un toque creativo. Cada proyecto es único, y nos esforzamos por crear soluciones personalizadas que no solo destaquen, sino que impulsen el crecimiento de tu negocio.
        </p>
      </div>
    </div>

    <div class="col col-card-nosotros">
      <div class="card " data-aos="fade-left" data-aos-duration="1000">
        <p class="card-title">Experiencia y Creatividad</p>
        <p class="card-text">
          Desarrollamos sitios web que combinan experiencia técnica con un toque creativo. Cada proyecto es único, y nos esforzamos por crear soluciones personalizadas que no solo destaquen, sino que impulsen el crecimiento de tu negocio.
        </p>
      </div>
    </div>
</div>
