<div class="col col-accordion">
    <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="accordion-button">
                Experiencia y Creatividad
            </div>
          </div>
          <div class="accordion-content">
            <p>Desarrollamos sitios web que combinan experiencia técnica con un toque creativo. Cada proyecto es único, y nos esforzamos por crear soluciones personalizadas que no solo destaquen, sino que impulsen el crecimiento de tu negocio.</p>
          </div>
        </div>
      
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="accordion-button">
                Innovación y Tendencias
            </div>
          </div>
          <div class="accordion-content">
            <p>Nos mantenemos a la vanguardia de las últimas tendencias en desarrollo web. Utilizamos las tecnologías más avanzadas para asegurar que tu sitio sea moderno, rápido y seguro.</p>
          </div>
        </div>
      
        <div class="accordion-item">
          <div class="accordion-header">
            <div class="accordion-button">
                Soluciones a Medida
            </div>
          </div>
          <div class="accordion-content">
            <p>No creemos en soluciones genéricas. Nuestro enfoque es crear sitios web a medida, adaptados a las necesidades específicas de tu marca y tus clientes. Con nosotros, tu proyecto será único.</p>
          </div>
        </div>
      </div>
      
</div>